<html>
	<head>

	<script id="headertmpl" type="text/x-dot-template">
		<h1>{{=it.title}}</h1>
	</script>

	<script id="pagetmpl" type="text/x-dot-template">
		<h2>Here is the page using a header template</h2>
		{{#def.header}}
		{{=it.name}}
	</script>

	<script id="customizableheadertmpl" type="text/x-dot-template">
		 {{#def.header}}
		 {{#def.mycustominjectionintoheader || ''}}
	 </script>

	<script id="pagetmplwithcustomizableheader" type="text/x-dot-template">
		<h2>Here is the page with customized header template</h2>
		{{##def.mycustominjectionintoheader:
			<div>{{=it.title}} is not {{=it.name}}</div>
		#}}
		{{#def.customheader}}
		{{=it.name}}
	</script>

	<script src="../doT.min.js" type="text/javascript"></script>
    <script src="../jquery-3.2.1.min.js" type="text/javascript"></script>
	
	</head>

	<body>
		<div id="content" style="color: red;"></div>
		<div id="contentcustom"></div>
	</body>

	<script type="text/javascript">
		var def = {
			header: $("#headertmpl").html(),
			customheader: $("#customizableheadertmpl").html()
		};
		var data = {
			title: "My title",
			name: "My name"
		};

		var pagefn = doT.template($("#pagetmpl").html(), undefined, def);//返回该模板的渲染函数 参数：模板代码，自定义配置参数，数据

		$("#content").html(pagefn(data));//渲染函数渲染数据

		// pagefn = doT.template(document.getElementById('pagetmplwithcustomizableheader').text, undefined, def);
		// document.getElementById('contentcustom').innerHTML = pagefn(data);

	</script>

</html>
