<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
<script th:src="@{js/sockjs.min.js}"></script>
<script th:src="@{js/stomp.min.js}"></script>
<script th:src="@{js/jquery-3.2.1.min.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<style type="text/css">
	body{margin: 0px;padding: 0px;background: #FFFFFF;}
	.container{width: 500px;height: 300px;border: solid 2px white;border-radius: 2px;margin-top: 100px;padding-top:70px;opacity: 0.8;color: #ECCD5D;}
</style>
<script type="text/javascript">
if (window != top) {//防止登录页被嵌套到框架之中  
    top.location.href = location.href; 
}
</script>
</head>
<body>
	<div class="container">
		<form class="form-horizontal" id="loginForm" action="login.ation" method="post" enctype="application/x-www-form-urlencoded">
		  <div class="form-group">
		    <label for="inputUserName" class="col-sm-2 control-label" >账号:</label>
		    <div class="col-sm-9">
		      <input type="text" name="account" th:value="${data}" class="form-control" id="inputUserName" placeholder="请输入用户名">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword" class="col-sm-2 control-label">密码:</label>
		    <div class="col-sm-9">
		      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="请输入密码">
		    </div>
		  </div>
		  
		  <div class="form-group">
		  <li class="divider"></li>
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-info" id ="loginBtn">&nbsp;&nbsp;登&nbsp;录&nbsp;&nbsp;</button>
		      <span th:text="${message}" style="color: red;" th:default="请登陆"></span>
		    </div>
		    
		  </div>
		</form>
	</div>
<!-- 脚本 -->
<script type="text/javascript">
$(function(){
	/* $("#loginBtn").click(function(){
		$.ajax({
		   type: "POST",
		   url: "login.ation",
		   data: $("#loginForm").serialize(),
		   success: function(data){
		     	alert(data.code+" "+data.message);
		   },
		   err:function(data){
			   alert("系统异常");
		   }
		});
	}); */
});

</script>
</body>
</html>