<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.data.trans.mapper.SystemUserMapper">
	
	<sql id="idUserIdAccountIdentityWhere">
		<where>
		<if test="null != model.id and model.id != '' ">and id = #{model.id}</if>
		<if test="null != model.userId and model.userId != '' ">and user_id = #{model.userId}</if>
		<if test="null != model.account and model.account != '' ">and account = #{model.account}</if>
		<if test="null != model.identity and model.identity != '' ">and identity = #{model.identity}</if>
		</where>
	</sql>
	
	<resultMap type="com.data.trans.model.SystemUser" id="systemUserAll_map">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="account" property="account"/>
		<result column="password" property="password"/>
		<result column="nick" property="nick"/>
		<result column="name" property="name"/>
		<result column="sex" property="sex"/>
		<result column="phone" property="phone"/>
		<result column="identity" property="identity"/>
		<result column="head_img" property="headImg"/>
		<result column="address" property="address"/>
	</resultMap>
	
	<insert id="addSystemUser" parameterType="com.data.trans.model.SystemUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into system_user
			(user_id,
			account,
			password,
			nick,
			name,
			sex,
			phone,
			identity,
			mail,
			head_img,
			address
			)
		values
			(#{userId},
			#{account},
			#{password},
			#{nick},
			#{name},
			#{sex},
			#{phone},
			#{identity},
			#{mail},
			#{headImg},
			#{address}
			)
	</insert>
	
	<delete id="delSystemUser" parameterType="com.data.trans.model.SystemUser">
		delete from system_user
		<include refid="idUserIdAccountIdentityWhere"/>
	</delete>
	
	<sql id="update_systemUser_body">
		<set>
			<if test="null != account and account != ''">account=#{account},</if>
			<if test="null != nick and nick != ''">nick=#{nick},</if>
			<if test="null != name and name != ''">sex=#{name},</if>
			<if test="null != sex and sex != ''">sex=#{sex},</if>
			<if test="null != phone and phone != ''">phone=#{phone}</if>
			<if test="null != identity and identity != ''">identity=#{identity}</if>
			<if test="null != mail and mail != ''">mail=#{mail}</if>
			<if test="null != headImg and headImg != ''">head_img=#{headImg}</if>
			<if test="null != address and address != ''">address=#{address}</if>
		</set>
	</sql>
	
	<update id="updateSystemUser" parameterType="com.data.trans.model.SystemUser">
		update system_user
		<include refid="update_systemUser_body"/>
		<include refid="idUserIdAccountIdentityWhere"/>
	</update>
	
	<select id="getSystemUser" resultMap="systemUserAll_map">
		select * from system_user
		<include refid="idUserIdAccountIdentityWhere"/>
	</select>
	
	<select id="listSystemUser" resultMap="systemUserAll_map" parameterType="com.data.trans.model.SystemUser">
		select * from system_user
		<where>
			<if test="null != account and account != ''">and account like "%"#{account}"%",</if>
			<if test="null != nick and nick != ''">and nick like "%"#{nick}"%",</if>
			<if test="null != name and name != ''">and name like "%"#{name}"%",</if>
			<if test="null != sex and sex != ''">sex = #{sex},</if>
			<if test="null != phone and phone != ''">phone like "%"#{phone}"%",</if>
			<if test="null != identity and identity != ''">identity like "%"#{identity}"%",</if>
			<if test="null != mail and mail != ''">mail like "%"#{mail}"%",</if>
			<if test="null != address and address != ''">address like "%"#{address}"%",</if>
		</where>
	</select>
	
</mapper>