<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>basic-demo</title>
<script src="../../lib/template-web.js"></script>
</head>

<body>
<div id="content"></div>
<script id="test" type="text/html">
{{if isAdmin}}

<h1>{{title}}</h1>
<ul>
    {{each list value i}}
        <li>索引 {{i + 1}} ：{{value}}</li>
    {{/each}}
</ul>
<button id="cb" onclick="testfun()">更换</button>
{{/if}}

{{$data}}
</script>

<script>


var data = {
	title: '基本例子',
	isAdmin: 'false',
	list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
};
//var html = template('test', data); //直接表一渲染出html页面代码

var cfun = template.compile(document.getElementById("test").innerHTML); //先编译获取渲染函数（可以服用）
html = cfun(data); //渲染html页面代码

document.getElementById('content').innerHTML = html; //渲染页面

function testfun(){
	var data2 = {
		title: '修改   --  **  …………  ^^ <h1>测试</h1>  </html> 《》 <!-- 这是注释 -->例子',
		isAdmin: 'false',
		list: ['邓宁城', '黄徐平', '摄影', '电影', '民谣', '旅行', '吉他']
	};
	document.getElementById('content').innerHTML = cfun(data2);
}

</script>
</body>
</html>